@model IEnumerable<Vispl.Trainee.CricInfo.VO.Cls_Player_VO>

@{
    ViewBag.Title = "DisplayPlayersDataInGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DisplayPlayersDataInGrid</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BattingStyle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BowlingStyle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAllRounder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamPlayingFor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BattingStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BowlingStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAllRounder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamPlayingFor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PlayerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PlayerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PlayerID })
            </td>
        </tr>
    }

</table>
