@model Vispl.Trainee.CricInfo.VO.Cls_MatchSchedule_VO

@{
    ViewBag.Title = "MatchSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/FormCss/MatchSchedule.css" rel="stylesheet" />

<div class="main">
    <h2>Match Schedule</h2>

    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Team1ID)
            @(Html.EJS().DropDownList("Team1ID", new Syncfusion.EJ2.DropDowns.DropDownList
            {
                DataSource = ViewBag.Teams,
                Fields = new Syncfusion.EJ2.DropDowns.DropDownListFieldSettings { Text = "Value", Value = "Key" },
                Placeholder = "Select Team",
                Value = Model.Team1ID
            }).Render())
            @Html.ValidationMessageFor(m => m.Team1ID)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Team2ID)
            @(Html.EJS().DropDownList("Team2ID", new Syncfusion.EJ2.DropDowns.DropDownList
            {
                DataSource = ViewBag.Teams,
                Fields = new Syncfusion.EJ2.DropDowns.DropDownListFieldSettings { Text = "Value", Value = "Key" },
                Placeholder = "Select Team",
                Value = Model.Team2ID
            }).Render())
            @Html.ValidationMessageFor(m => m.Team2ID)
        </div>

        <div class="form-group">
            @Html.Partial("_DateTimeTimeZone", Model)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Venue)
            @(Html.EJS().DropDownList("Venue", new Syncfusion.EJ2.DropDowns.DropDownList
            {
                DataSource = ViewBag.Venues,
                Fields = new Syncfusion.EJ2.DropDowns.DropDownListFieldSettings { Text = "Value", Value = "Key" },
                Placeholder = "Select Venue",
                Value = Model.Venue
            }).Render())
            @Html.ValidationMessageFor(m => m.Venue)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MatchFormat)
            <div>
                @(Html.EJS().RadioButton("MatchFormatTest", new Syncfusion.EJ2.Buttons.RadioButton
                {
                    Label = "Test",
                    Name = "MatchFormat",
                    Value = "Test",
                    Checked = Model.MatchFormat == "Test"
                }).Render())
                @(Html.EJS().RadioButton("MatchFormatODI", new Syncfusion.EJ2.Buttons.RadioButton
                {
                    Label = "ODI",
                    Name = "MatchFormat",
                    Value = "ODI",
                    Checked = Model.MatchFormat == "ODI"
                }).Render())
                @(Html.EJS().RadioButton("MatchFormatT20", new Syncfusion.EJ2.Buttons.RadioButton
                {
                    Label = "T20",
                    Name = "MatchFormat",
                    Value = "T20",
                    Checked = Model.MatchFormat == "T20"
                }).Render())
            </div>
            @Html.ValidationMessageFor(m => m.MatchFormat)
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>
